.time {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    min-width: 23rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 100px;
    border-radius: 50%;
    background: lightblue;
}

h1 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

h2 {
    width: 12rem;
    color: darkblue;
    font-size: 1.5rem;
}

button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 1s;
    border-radius: 20rem;
    background: lightblue;
    border: 1px solid black;
}

button:hover {
    background: aqua;
    border-radius: 20rem 5rem;
}